@import "~common/stylesheet/index";

.containerDark {
  background-color: $color-background-light;
  .content {
    background-color: $color-background;
    border: 1px solid $theme-light;
    h1 {
      border-bottom: 1px solid #21262d;
    }
    h2 {
      border-bottom: 1px solid #21262d;
    }
    a {
      color: #58a6ff;
    }
    blockquote {
      color: #8b949e;
      border-left: 0.25em solid #30363d;
    }
    pre {
      background-color: $color-background-light;
    }
    code {
      background-color: $color-background-light;
      padding: 0;
    }
    .sourceShell {
      .activeIcon {
        border: 1px solid #07fd1c46;
      }
      .copy_icon {
        background-color: $color-background-light;
        border: 1px solid #f0f6fc1a;
        color: #616161;
        .TickIcon {
          color: #00ff84;
        }
        &:hover {
          border-color: #8b949e;
          background-color: #30363d;
        }
      }
    }
    table {
      tr {
        border-top: 1px solid $theme-light;
        th {
          border: 1px solid #30363d;
        }
        td {
          border: 1px solid #30363d;
        }
        td[class="code"] {
          background-color: $color-background-light;
        }
      }
    }
  }
}

.containerLight {
  background-color: $theme-light-background;
  .content {
    background-color: $theme-light-background;
    border: 1px solid $theme-light-border;
    color: $theme-light-font;
    h1 {
      border-bottom: 1px solid $theme-light-border;
    }
    h2 {
      border-bottom: 1px solid $theme-light-border;
    }
    a {
      color: #58a6ff;
    }
    blockquote {
      color: #8b949e;
      border-left: 0.25em solid $theme-light-border;
    }
    pre {
      color: black;
      background-color: #d9edfccc;
    }
    code {
      color: $theme-light-font;
      background-color: #d9edfccc;
    }
    .sourceShell {
      .activeIcon {
        border: 1px solid #07fd1c46;
      }
      .copy_icon {
        background-color: $theme-light-background;
        border: 1px solid #f0f6fc1a;
        color: #616161;
        .TickIcon {
          color: #00ff84;
        }
        &:hover {
          border-color: #8b949e;
          background-color: $theme-light-background;
        }
      }
    }
    table {
      tr {
        border-top: 1px solid $theme-light;
        th {
          border: 1px solid $theme-light-border;
        }
        td {
          border: 1px solid $theme-light-border;
        }
        td[class="code"] {
          background-color: $theme-light-background;
        }
      }
    }
  }
}
.markdown {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;

  .content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    border-radius: 6px;
    word-wrap: break-word;
    padding: 32px;
    user-select: text;
    font-size: 16px;
    line-height: 1.5;
    margin: 25px;
    margin-top: 35px;
    iframe {
      width: 100%;
    }
    h1 {
      font-weight: 600px;
      font-size: 2em;
      margin: 0.67em 0;
    }
    h2 {
      padding-bottom: 0.3em;
      font-size: 1.5em;
    }
    a {
      text-decoration: none;
    }
    blockquote {
      padding: 0 1em;
    }
    p {
      margin-top: 0;
      margin-bottom: 16px;
    }
    pre {
      padding: 16px;
      overflow: auto;
      font-size: 85%;
      line-height: 1.45;
      border-radius: 6px;
      position: relative;
      margin: 0;
    }
    code {
      padding: 0;
    }
    .sourceShell {
      font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace;
      margin-bottom: 16px;
      overflow: auto !important;
      position: relative;
      .activeIcon {
        border: 1px solid #07fd1c46;
      }
      .copy_icon {
        transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        transition-property: color, background-color, border-color;
        display: inline-block;
        position: absolute;
        border-radius: 25%;
        border: 1px solid #f0f6fc1a;
        padding: 6px 9px;
        font-size: 14px;
        vertical-align: middle;
        user-select: none;
        cursor: pointer;
        width: 33px;
        opacity: 0;
        right: 0;
        top: 0;
        margin: 8px;
        .TickIcon {
          color: #00ff84;
        }
        &:hover {
          transition: 0.1s;
        }
      }
      &:hover {
        .copy_icon {
          opacity: 1;
        }
      }
    }
    img[alt="ExampleImg"] {
      max-width: 85%;
      display: block;
    }
    img[class="screenshot"] {
      max-width: 80%;
      width: 80%;
      display: block;
    }
    table {
      border-collapse: collapse;
      width: max-content;
      display: block;
      max-width: 100%;
      overflow: auto;
      tr {
        th {
          display: table-cell;
          padding: 6px 13px;
        }
        td {
          padding: 6px 13px;
        }
      }
    }
  }
}
