@import "~common/stylesheet/index";

.tab_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  position: relative;
  background-color: $color-background;

  .tab_bar {
    display: flex;
    align-items: stretch;
    height: $line-height;
    overflow-x: auto;
    white-space: nowrap;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 16px;
    background-color: $color-background;

    .section {
      height: $line-height;
      display: flex;
      align-items: stretch;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: $color-background;
    overflow: hidden;
  }
}
