@import "~common/stylesheet/index";
.containerDark {
  background-color: $color-background-light;
  color: #c9d1d9;
  .Banner {
    border-bottom: 1px solid $theme-light;
    background-color: $color-background;
  }
  .container__sidebar {
    background-color: $color-background;
  }
  .docsContainer {
    .container__main {
      .content {
        border: 1px solid $theme-light;
        background-color: $color-background;
        h1 {
          border-bottom: 1px solid #21262d;
        }
        h2 {
          border-bottom: 1px solid #21262d;
        }
        a {
          color: #58a6ff;
        }
        blockquote {
          color: #8b949e;
          border-left: 0.25em solid #30363d;
        }
        pre {
          background-color: $color-background-light;
        }
        code {
          background-color: $color-background-light;
          padding: 0;
        }
        .sourceShell {
          .activeIcon {
            border: 1px solid #07fd1c46;
          }
          .copy_icon {
            background-color: $color-background-light;
            border: 1px solid #f0f6fc1a;
            color: #616161;
            .TickIcon {
              color: #00ff84;
            }
            &:hover {
              border-color: #8b949e;
              background-color: #30363d;
            }
          }
        }
        table {
          tr {
            border-top: 1px solid $theme-light;
            th {
              border: 1px solid #30363d;
            }
            td {
              border: 1px solid #30363d;
            }
            td[class="code"] {
              background-color: $color-background-light;
            }
          }
        }
      }
    }
  }
}
.containerLight {
  background-color: $theme-light-background;
  color: $theme-light-font;
  .Banner {
    border-bottom: 1px solid #d0d7de;
    background-color: $theme-light-background;
  }
  .container__sidebar {
    background-color: $theme-light-background;
  }
  .docsContainer {
    .container__main {
      .content {
        border: 1px solid $theme-light-border;
        background-color: $theme-light-background;
        h1 {
          border-bottom: 1px solid $theme-light-border;
        }
        h2 {
          border-bottom: 1px solid $theme-light-border;
        }
        a {
          color: #58a6ff;
        }
        blockquote {
          color: #8b949e;
          border-left: 0.25em solid $theme-light-border;
        }
        pre {
          color: black;
          background-color: #d7ecfccc;
        }
        code {
          color: $theme-light-font;
          background-color: #d7ecfccc;
        }
        .sourceShell {
          .activeIcon {
            border: 1px solid #07fd1c46;
          }
          .copy_icon {
            background-color: $theme-light-background;
            border: 1px solid #f0f6fc1a;
            color: #616161;
            .TickIcon {
              color: #00ff84;
            }
            &:hover {
              border-color: #8b949e;
              background-color: $theme-light-background;
            }
          }
        }
        table {
          tr {
            border-top: 1px solid $theme-light;
            th {
              border: 1px solid $theme-light-border;
            }
            td {
              border: 1px solid $theme-light-border;
            }
            td[class="code"] {
              background-color: $theme-light-background;
            }
          }
        }
      }
    }
  }
}
.container {
  width: 100%;
  overflow: auto;
  .Banner {
    position: relative;
    .title {
      font-size: 3rem;
      text-align: center;
      margin: 0;
    }
  }
  .docsContainer {
    display: flex;
    .container__sidebar {
      padding-top: 1rem;
      position: sticky;
      top: 0;
      width: 20%;
    }
    .container__main {
      margin: 10%;
      width: 100%;
      .content {
        border-radius: 12px;
        word-wrap: break-word;
        padding: 32px;
        user-select: text;
        font-size: 16px;
        line-height: 1.5;
        h1 {
          font-weight: 600;
          font-size: 2em;
          margin: 0.67em 0;
        }
        h2 {
          padding-bottom: 0.3em;
          font-size: 1.5em;
        }
        a {
          color: #58a6ff;
          text-decoration: none;
        }
        blockquote {
          padding: 0 1em;
        }
        p {
          margin-top: 0;
          margin-bottom: 16px;
        }
        pre {
          padding: 16px;
          overflow: auto;
          font-size: 85%;
          line-height: 1.45;
          border-radius: 6px;
          position: relative;
          margin: 0;
        }
        code {
          padding: 0;
        }
        .sourceShell {
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
            Liberation Mono, monospace;
          margin-bottom: 16px;
          overflow: auto !important;
          position: relative;
          .activeIcon {
            border: 1px solid #07fd1c46;
          }
          .copy_icon {
            transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
            transition-property: color, background-color, border-color;
            display: inline-block;
            position: absolute;
            border-radius: 25%;
            padding: 6px 9px;
            font-size: 14px;
            vertical-align: middle;
            user-select: none;
            cursor: pointer;
            width: 33px;
            opacity: 0;
            right: 0;
            top: 0;
            margin: 8px;
            .TickIcon {
              color: #00ff84;
            }
            &:hover {
              transition: 0.1s;
            }
          }
          &:hover {
            .copy_icon {
              opacity: 1;
            }
          }
        }
        img[alt="ExampleImg"] {
          max-width: 85%;
          display: block;
        }
        img[class="screenshot"] {
          max-width: 80%;
          width: 80%;
          display: block;
        }
        table {
          border-collapse: collapse;
          width: max-content;
          display: block;
          max-width: 100%;
          overflow: auto;
          tr {
            border-top: 1px solid $theme-light;
            th {
              display: table-cell;
              padding: 6px 13px;
            }
            td {
              padding: 6px 13px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .container {
    .Banner {
      .title {
        font-size: 4rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .containerLight{
    background-color: $theme-light-background;
    .container__sidebar{
      background-color: $theme-light-background;
    }
    .docsContainer{
      .container__main{
        .content{
          color: $theme-light-font;
          background-color: $theme-light-background;
          pre{
            background-color: #f6f8fa;
          }
          code{
            background-color: #f6f8fa;
          }
        }
      }
    }
  }
  .containerDark{
    background-color: $color-background-light;
    .container__sidebar{
      background-color: $color-background-light;
    }
    .docsContainer{
      .container__main{
        .content{
          background-color: $color-background-light;
          pre{
            background-color: $color-background;
          }
          code{
            background-color: $color-background;
          }
        }
      }
    }
  }
  .container {
    .Banner {
      display: none;
    }
    .docsContainer {
      flex-direction: column;
      .container__sidebar {
        padding-top: 0;
        width: 100%;
      }
      .container__main {
        margin: 5.2%;
        width: 90%;
        .content {
          border: 0;
          padding: 0;
          blockquote {
            margin: 0;
          }
          pre {
            padding: 12px;
          }
        }
      }
    }
  }
}
