@import "~common/stylesheet/index";

.container {
  width: 100%;
  background-color: $color-background-light;
  overflow: auto;
  color: #c9d1d9;
  .Banner {
    border-bottom: 1px solid $theme-light;
    position: relative;
    background-color: $color-background;
    .title {
      font-size: 3rem;
      // text-align: center;
      margin: 0;
      margin-left: 5%;
    }
  }
  .container__sidebar {
    background-color: $color-background;
  }
  .docsContainer {
    display: flex;
    .container__sidebar {
      padding-top: 1rem;
      position: sticky;
      top: 0;
      width: 20%;
    }
    .container__main {
      margin: 10%;
      width: 100%;
      .content {
        border: 1px solid $theme-light;
        border-radius: 12px;
        word-wrap: break-word;
        padding: 32px;
        user-select: text;
        font-size: 16px;
        line-height: 1.5;
        background-color: $color-background;
        h1 {
          font-weight: 600px;
          font-size: 2em;
          margin: 0.67em 0;
          border-bottom: 1px solid #21262d;
        }
        h2 {
          padding-bottom: 0.3em;
          font-size: 1.5em;
          border-bottom: 1px solid #21262d;
        }
        a {
          color: #58a6ff;
          text-decoration: none;
        }
        blockquote {
          padding: 0 1em;
          color: #8b949e;
          border-left: 0.25em solid #30363d;
        }
        p {
          margin-top: 0;
          margin-bottom: 16px;
        }
        pre {
          padding: 16px;
          overflow: auto;
          font-size: 85%;
          line-height: 1.45;
          background-color: $color-background-light;
          border-radius: 6px;
          position: relative;
          margin: 0;
        }
        code {
          background-color: $color-background-light;
          padding: 0;
        }
        .sourceShell {
          font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
            Liberation Mono, monospace;
          margin-bottom: 16px;
          overflow: auto !important;
          position: relative;
          .activeIcon {
            border: 1px solid #07fd1c46;
          }
          .copy_icon {
            transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
            transition-property: color, background-color, border-color;
            background-color: $color-background-light;
            display: inline-block;
            position: absolute;
            border-radius: 25%;
            border: 1px solid #f0f6fc1a;
            padding: 6px 9px;
            font-size: 14px;
            vertical-align: middle;
            user-select: none;
            color: #616161;
            cursor: pointer;
            width: 33px;
            opacity: 0;
            right: 0;
            top: 0;
            margin: 8px;
            .TickIcon {
              color: #00ff84;
            }
            &:hover {
              border-color: #8b949e;
              background-color: #30363d;
              transition: 0.1s;
            }
          }
          &:hover {
            .copy_icon {
              opacity: 1;
            }
          }
        }
        img[alt="ExampleImg"] {
          max-width: 85%;
          display: block;
        }
        img[class="screenshot"] {
          max-width: 80%;
          width: 80%;
          display: block;
        }
        table {
          border-collapse: collapse;
          width: max-content;
          display: block;
          max-width: 100%;
          overflow: auto;
          tr {
            border-top: 1px solid $theme-light;
            th {
              display: table-cell;
              border: 1px solid #30363d;
              padding: 6px 13px;
            }
            td {
              border: 1px solid #30363d;
              padding: 6px 13px;
            }
            td[class="code"] {
              background-color: $color-background-light;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .container {
    .Banner {
      .title {
        font-size: 4rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    background-color: $color-background-light;
    .Banner {
      display: none;
    }
    .docsContainer {
      flex-direction: column;
      .container__sidebar {
        padding-top: 0;
        padding-top: 4rem;
        width: 100%;
        background-color: $color-background-light;
      }
      .container__main {
        margin: 5.2%;
        width: 90%;
        .content {
          border: 0;
          background-color: $color-background-light;
          padding: 0;
          blockquote {
            margin: 0;
          }
          pre {
            padding: 12px;
            background-color: $color-background;
          }
          code {
            background-color: $color-background;
          }
        }
      }
    }
  }
}
