@import "~common/stylesheet/index";
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");

html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: $font-family-normal;
  -webkit-font-smoothing: subpixel-antialiased;
  user-select: none;
  color: $color-font;
  font-size: $font-size-normal;
  background-color: #0d1117;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  line-height: 1.15;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #333333;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 20px;
  padding: 10px;
  border: 10px solid rgba(0, 0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #7e7e7e;
}
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 2px;
    background-color: transparent !important;
    padding: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent !important;
    opacity: 0.01;
  }
}
