@import "~common/stylesheet/index";
.containerDark {
  background-image: url("../assets/backgorundHomeDark.svg");
  color: white;
  .BgImage {
    display: none;
  }
  .container {
    .textContainer {
      .Btn:hover {
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
      }
    }
  }
}
.containerLight {
  color: #24292f;
  background-image: url("../assets/backgorundHomeLight.svg");
  .BgImage {
    display: none;
  }
  .container {
    .textContainer {
      .Btn:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
.mainContainer {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  .container {
    z-index: 1;
    text-align: center;
    .title {
      text-align: center;
      font-size: 5rem;
      margin-top: 0;
    }
    .textContainer {
      width: 100%;
      height: auto;
      h2 {
        margin-bottom: 4%;
      }
      .Btn {
        font-size: 15px;
        font-weight: bold;
        padding: 20px 30px;
        border-radius: 30px;
        background-color: #0b7af8;
        color: beige;
        width: 150px;
        margin: auto;
      }
      .Btn:hover {
        border: none;
        transition: 0.2s;
        font-size: 17px;
        color: white;
        background-color: #ff568f;
      }
    }
  }
  .QuoteContainer {
    text-align: center;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .imageContainer {
      width: 50%;
      transition: 0.2s;
      span {
        border-radius: 12px;
        box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.9);
      }
      &:hover {
        width: 55%;
      }
    }
    h2 {
      width: 50%;
      // z-index: 1;
    }
  }
}
@media (max-width: 768px) {
  .containerLight {
    background-size: 0;
    background-color: $theme-light-background;
  }
  .mainContainer {
    position: absolute;
    top: 0;
    height: 100%;
    .container {
      .title {
        margin-top: 4%;
      }
      .textContainer {
        .Btn {
          background-color: #0b7af8;
        }
      }
    }
    .QuoteContainer {
      margin-top: 6%;
      .imageContainer {
        width: 65%;
      }
      h2 {
        width: 80%;
      }
    }
  }
}
@media (max-width: 697px) {
  .mainContainer {
    .container {
      .title {
        font-size: 3rem;
      }
      .textContainer {
        h2 {
          margin-bottom: 7%;
        }
      }
    }
    .QuoteContainer {
      margin-top: 20%;
    }
  }
}
@media (max-width: 425px) {
  .mainContainer {
    .container {
      .textContainer {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .Btn {
          width: 150px;
        }
      }
    }
    .QuoteContainer {
      margin-top: 25%;
      h2 {
        width: 95%;
        font-size: 1rem;
      }
    }
  }
}
@media (max-width: 375px) {
  .mainContainer {
    .container {
      .textContainer {
        .Btn {
          font-size: 16px;
          &:hover {
            transition: none;
            font-size: 16px;
            border: 0;
            box-shadow: none;
          }
        }
      }
    }
  }
}
