@import "~common/stylesheet/index";
.mainContainer {
  background-color: $color-background-light;
  color: white;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .BgImage {
    grid-area: 1 / 1 / 3 / 2;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    text-align: center;
    .title {
      grid-area: 1 / 2 / 2 / 4;
      text-align: center;
      font-size: 5rem;
    }
    .textContainer {
      grid-area: 2 / 2 / 3 / 4;
      h2 {
        margin-bottom: 7%;
      }
      a {
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 20px 30px;
        border-radius: 30px;
        border: 1px solid #0b7af8;
      }
      a:hover {
        border: none;
        color: white;
        transition: 0.2s;
        font-size: 17px;
        background-color: #0b7af8;
        border: 1px solid #0b7af8;
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
      }
    }
  }
  .QuoteContainer {
    text-align: center;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
    .imageContainer {
      width: 50%;
      transition: 0.2s;
      span {
        border-radius: 12px;
        box-shadow: 0px 0px 22px 5px rgba(0, 0, 0, 0.9);
      }
      &:hover {
        width: 55%;
      }
    }
    h2 {
      width: 50%;
      z-index: 1;
    }
  }
}
@media (max-width: 1024px) {
  .mainContainer {
    .BgImage {
      grid-area: 2 / 1 / 3 / 2;
    }
  }
}
@media (max-width: 768px) {
  .mainContainer {
    position: absolute;
    top: 0;
    height: 100%;
    .BgImage {
      grid-area: 2 / 1 / 3 / 2;
    }
    .container {
      grid-template-rows: 0.5fr 0.5fr;
      .textContainer {
        a {
          background-color: #0b7af8;
        }
      }
    }
    .QuoteContainer {
      .imageContainer {
        width: 65%;
      }
      h2 {
        width: 80%;
      }
    }
  }
}
@media (max-width: 425px) {
  .mainContainer {
    .container {
      grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
      .title {
        font-size: 3rem;
      }
      .textContainer {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 1.5em;
        }
        h2 {
          display: none;
        }
        a {
          width: 46%;
        }
      }
    }
    .QuoteContainer {
      h2 {
        width: 100%;
        font-size: 0.7rem;
      }
    }
  }
}
@media (max-width: 375px) {
  .mainContainer {
    .container {
      .textContainer {
        a {
          font-size: 16px;
          width: 48%;
          &:hover {
            transition: none;
            font-size: 16px;
            border: 0;
            box-shadow: none;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .mainContainer {
    .container {
      .textContainer {
        a {
          font-size: 12px;
          width: 48%;
          &:hover {
            font-size: 12px;
          }
        }
      }
    }
  }
}
