@import "~common/stylesheet/index";
.containerLight {
  .card {
    background-color: $theme-light-background;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    .details {
      .about {
        color: $theme-light-font;
      }
    }
    &:hover {
      background: linear-gradient(45deg, #b95ce4, #4f29cd);
      .details {
        .profileName {
          color: #ff568f;
        }
        .about {
          color: white;
        }
      }
      .socialButton {
        color: #ff568f;
      }
    }
  }
}
.containerDark {
  .card {
    // background: linear-gradient(
    //   90deg,
    //   rgba(57, 68, 83, 1) 0%,
    //   rgba(13, 17, 23, 1) 100%
    // );
    // background-color: $theme-light-background;
    background-color: #bebebe;
    .details {
      .about {
        // color: white;
        color: $theme-light-font;
      }
    }
    &:hover {
      background: linear-gradient(
        90deg,
        rgba(57, 68, 83, 1) 0%,
        rgba(13, 17, 23, 1) 100%
      );
      .details {
        .profileName {
          color: #ff568f;
        }
        .about {
          color: white;
        }
      }
      .socialButton {
        color: #ff568f;
      }
    }
    // .socialButton {
    //   color: #0b7af8;
    // }
  }
}
.container {
  border-radius: 20px;
  width: 35%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 5px 5px #00000033,
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  .card {
    width: 96%;
    height: 92%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    transition: 0.5s;
    padding: 5%;
    &:hover {
      transform: translateY(-50px);
      box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
    }
    .coverPhoto {
      background-color: #353535;
      height: auto;
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 50px;
    }
    .details {
      width: 60%;
      height: 100%;
      margin: 0 20px 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .profileName {
        font-size: 25px;
        font-weight: 800;
        color: #0b7af8;
      }
      .about {
        font-size: 20px;
        font-weight: 400;
      }
    }
    .socialButton {
      width: 70%;
      display: flex;
      justify-content: space-around;
      color: #0b7af8;
      a {
        .nav_caret {
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 1252px) {
  .container {
    width: 45%;
  }
}
@media (max-width: 994px) {
  .container {
    width: 75%;
    margin-top: 5%;
    .card {
      .details {
        justify-content: space-evenly;
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    width: 45%;
    margin-top: 5%;
    height: 50%;
    .card {
      flex-direction: column;
      align-items: center;
      &:hover {
        transform: none;
      }
      .coverPhoto {
        width: 95px;
        height: 180px;
      }
      .details {
        text-align: center;
        justify-content: space-around;
        margin: 0;
        width: 75%;
        .socialButton {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .container {
    width: 75%;
    .card {
      .details {
        .socialButton {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .container {
    width: 85%;
  }
}
