$theme-dark: #242424;
$theme-normal: #393939;
$theme-light: #505050;
$color-font: #bbbbbb;
$color-shadow: rgba(#000000, 0.2);
$color-overlay: rgba(#ffffff, 0.1);
$color-alert: #f3bd58;
$color-selected: #2962ff;
$color-patched: #c51162;
$color-highlight: #29d;
$color-active: #00e676;
$color-true: #00a67e;
$color-background: #0d1117;
$color-background-light: #161b22;

$theme-light-background: #ebf5fc;
$theme-light-background-higlight: #bfccd4;
$theme-light-border: #d0d7de;
$theme-light-font: #24292f;
$theme-light-hover: #b7e0ff;
$theme-light-selected: #9ccff8fd;


:export {
  themeDark: $theme-dark;
  themeNormal: $theme-normal;
  themeLight: $theme-light;
  colorFont: $color-font;
  colorShadow: $color-shadow;
  colorOverlay: $color-overlay;
  colorAlert: $color-alert;
  colorSelected: $color-selected;
  colorTrue: $color-true;
  colorPatched: $color-patched;
  colorHighlight: $color-highlight;
  colorActive: $color-active;
  color-background: $color-background;
  color-background-light: $color-background-light;
  theme-light-background: $theme-light-background;
  theme-light-border: $theme-light-border;
  theme-light-font: $theme-light-font;
  theme-light-background-higlight: $theme-light-background-higlight;
  theme-light-hover: $theme-light-hover;
  theme-light-selected: $theme-light-selected;
}
