@import "~common/stylesheet/index";
.navigation {
  width: 75px;
  min-width: 75px;
  background-color: #161b22;
  border-right: 7px solid #0b7af8;
  transition: width 0.5s;
  border-left: 10px solid #161b22;
  overflow-x: hidden;
  .logoContainer {
    .Icon {
      .logo {
        width: 40px;
        height: 40px;
        margin: 20px 6px;
        .image {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  .navigationButtons {
    height: 80%;
    .navigationOptions {
      list-style: none;
      padding: 0;
      .activeA {
        background-color: #0b7af8;
      }
      .navigationOption {
        .activeBar {
          width: 3px;
          background-color: #c1c1c1;
        }
      }
      a {
        font-size: 25px;
        display: flex;
        align-items: center;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        position: relative;
        text-decoration: none;
        margin-left: 5px;
        padding: 7px 0 7px 0;
        margin-top: 5px;
        .unactiveBar {
          width: 3px;
          background-color: $theme-dark;
        }
        .navigationOption {
          .nav_caret {
            padding: 12px;
            width: 45px;
            height: 45px;
            border-radius: 12px;
          }
        }
        .tooltip {
          width: 100%;
          padding-left: 20px;
          background-color: transparent;
        }
        &:hover {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    width: 100%;
    height: 70px;
    background-color: $color-background;
    border: 0;
    z-index: 2;
    border-right: 0;
    overflow-x: visible;
    // &:hover {
    //   width: 100%;
    // }
    .logoContainer {
      display: none;
    }
    .navigationButtons {
      display: flex;
      .navigationOptions {
        display: flex;
        margin-top: 0;
        justify-content: space-around;
        white-space: nowrap;
        width: 100%;
        .activeA {
          background-color: transparent;
          border-radius: 0;
          .navigationOption {
            .nav_caret {
              transform: translateY(-35px);
              transition: 0.4s;
            }
          }
        }
        .active {
          border-radius: 0;
          background-color: transparent;
          transform: translateY(-35px);
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          width: 100%;
          text-align: center;
          font-weight: 500;
          transition: 0.5s;
          .navigationOption {
            padding: 0;
            position: relative;
            display: block;
            height: 65%;
            line-height: 40px;
            font-size: 1.5rem;
            .nav_caret {
              width: 50px;
              height: 50px;
            }
            &:hover {
              color: white;
              transition: all 0.4s ease;
              .nav_caret {
                background-color: transparent;
              }
            }
          }
          .indicator {
            position: absolute;
            top: -75%;
            width: 60px;
            height: 60px;
            background-color: #0b99f8;
            border-radius: 50%;
            border: 6px solid $color-background;
            transition: 0.5s;
          }
          .tooltip {
            position: absolute;
            visibility: visible;
            background-color: transparent;
            left: 0;
            padding: 0;
            width: 100%;
            font-weight: 400;
            font-size: 0.75em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            opacity: 0;
            transform: translateY(30px);
            box-shadow: 0 0px 0px;
          }
          .activeTitle {
            opacity: 1;
            transform: translateY(20px);
          }
        }
      }
    }
  }
}
