@import "~common/stylesheet/index";

.rendererDark {
  background-color: $color-background-light;
  .title {
    background-color: $theme-light;
    color: $color-font;
  }
}
.rendererLight {
  background-color: $theme-light-background;
  .title {
    background-color: $theme-light-hover;
    color: $theme-light-font;
  }
}

.renderer {
  position: relative;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;

  &:first-child {
    border-top: none;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 6px;
    font-size: $font-size-large;
  }
}
