@import "~common/stylesheet/index";
.container__sidebar {
  border-right: 1px solid $theme-light;
  .title {
    visibility: hidden;
  }
  .divider {
    display: none;
  }
  .MenuContainer {
    position: sticky;
    top: 50px;
    .ExpandableList {
      font-size: 1rem;
      padding-left: 1rem;
      margin-top: 16%;
      .mainKey {
        border-bottom: 1px solid;
        display: block;
        font-weight: bold;
      }
      .Opener {
        display: none;
      }
      .list_container {
        margin-top: 0.7rem;
        .ListItem {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container__sidebar {
    position: relative;
    border-bottom: 1px solid $theme-light;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 0;
    border-right: 0;
    .title {
      visibility: visible;
      font-size: 2em;
      margin: 10px 0;
      text-align: center;
    }
    .divider {
      display: block;
    }
    .MenuContainer {
      display: flex;
      margin: 12px 0;
      .ExpandableList {
        margin-top: 0;
        .mainKey {
          border-bottom: 0px solid;
          display: inline;
        }
        .Opener {
          display: inline;
        }
        .list_container {
          position: absolute;
          background-color: $color-background;
          visibility: hidden;
        }
      }
      .opened {
        .list_container {
          visibility: visible;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .container__sidebar {
    .title {
      font-size: 1.2rem;
    }
  }
}
