@import "~common/stylesheet/index";
.ProgressBarDark {
  background-color: $theme-light;
  .active {
    background-color: $color-active;
  }
  .label {
    color: $theme-dark;
  }
}

.ProgressBarLight {
  background-color: white;
  .active {
    background-color: $color-active;
  }
  .label {
    color: $theme-dark;
  }
}

.progress_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  pointer-events: auto;

  > * {
    pointer-events: none;
  }

  .active {
    position: absolute;
    height: 100%;
    left: 0;
  }

  .label {
    position: absolute;

    .current {
      font-weight: bold;
    }
  }
}
