@import "~common/stylesheet/index";

.category {
  justify-content: space-between;

  .icon {
    margin-left: 4px;
    color: $theme-light-font;
  }
}
.containerDark {
  background-color: #161b22;
  border-bottom: 1px solid $theme-dark;
  &.openedName {
    background-color: #181818ef;
  }
}
.containerLight {
  background-color: $theme-light-background-higlight;
  .icon {
    color: $theme-light-font;
  }
  &.openedName {
    background-color: #9ccff8fd;
  }
}
